@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


/* 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; 
*/

:root {

    --medium-green: #3D8168;
    --bg-color: #F3EAE3;
    --light-grey: #858585;
    --dark-grey: #2F2F2F;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body {

    background: var(--bg-color);
}

.container {


    margin-top: calc(50vh - 25vh);

    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 100%; */
    /* height: 100%; */

}

.container .card {

    background: white;

    max-width: 646px;
    max-height: 504px;

    width: 100%;
    height: 100%;

    border-radius: 15px;

    display: flex;
}

.image-container img {

    width: auto;
    height: 100%;

}


.container .card .info-card h4 {

    margin: 40px 0 0 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.2em;
    color: var(--light-grey);
}


.container .card .info-card h1 {

    margin: 24px 86px 0 32px;

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: var(--dark-grey);
}


.container .card .info-card p {

    margin: 32px 53px 0 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 133.52%;

    color: var(--light-grey);
}

.container .card .info-card .values{

    display: flex;

}

.container .card .info-card .values .new-value{

    margin: 48px 0 0 32px;

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: var(--medium-green);

}

.container .card .info-card .values .old-value{

    margin: 55px 0 0 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 133.52%;

    text-decoration-line: line-through;

    color: #858585;

}

button {

    margin: 24px auto;
     
    display: flex;
    justify-content: center;
    align-items: center;

    width: 255px;
    height: 48px;
    left: 793px;
    top: 656px;

    background: #3D8168;
    border-radius: 10px;
    border-style: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 133.52%;

    color: #FFFFFF;
    

}

button svg {

    margin: 0 16px;

}



/* RESPONSIVE */

@media (max-width: 910px) {

    .container .card {

        width: 100%;
        
    }

}



@media (max-width: 650px) {

    .container {

        margin: 16px 0 16px;

    }


    .container .card {

        background: white;
    
        max-width: 440px;
        max-height: 750px;

        width: 100%;
        height: 100%;
    
        border-radius: 15px;
    
        display: flex;
        position: relative;
    }

    .info-card {

        margin-top: 264px;

    }

    .image-container {


        width: 100%;
        height: 262px;
        position: absolute; 
         
    }

    .image-container img {

        width: 100%;
        height: 100%;

        border-radius: 15px 15px 0 0;

        display: inline-block; 
        object-fit: cover;

        object-position: center 35% ;

    }

    button {

        margin-top: 48px;
        width: 86%;
    }


}

@media (max-width: 392px) {


    .container .card {

        background: white;
    
        max-width: 392px;
        max-height: 790px;

        width: 98%;
    
        border-radius: 15px;
    
        display: flex;
        position: relative;
    }

}

@media (max-width: 320px) {


    .container .card {

        width: 90%;
        height: auto;

    }

    .image-container img {

        width: 10px;
        height: 10px;
    
    }


}